services:
  telebot:
    build:
      context: .
      dockerfile: telebot/Dockerfile
    image: telebot
    container_name: telebot
    hostname: telebot
    restart: unless-stopped

  deyeweb:
    build:
      context: .
      dockerfile: deyeweb/Dockerfile
    image: deyeweb
    container_name: deyeweb
    hostname: deyeweb
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped
