.spinner {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #555555);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 35%), #000 0);
  animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
    transform: rotate(1turn);
  }
}
